# Environnements virtuels
venv/
env/
ENV/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Fichiers VS Code
.vscode/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Git
.git/index.lock