# venv
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/

# Logs
*.log

# system files
.DS_Store
Thumbs.db

# Git
.git/index.lock

# SQLite  database files
database.db
*.db

# migrations
migrations/